doctype html
html
  head
    meta(charset='utf-8')
    title eCommerce: About
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') FAQ
        li: a(href='/items/new') New Item

    h2 About Page!

